  <header class="header">
      <div class="header_bar">
        <%= link_to image_tag("date-logo.png",class:"date-icon"), "#" %>
        <div class='nav'>
          <ul class= 'lists-right'>
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"logout" %>
            <%= link_to "投稿する", new_tweet_path, class: "new" %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "login" %>
            <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
          <% end %>
        </ul>
        </div>
      </div>
  </header>